* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, label, input, span {
  font-family: 'Poppins', sans-serif;
}

h1, legend {
  font-family: 'Staatliches', sans-serif;
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 107px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  color: #FFF;
  font-size: 36px;
  line-height: normal;
}

p {
  color: #FFF;
  font-size: 16px;
  line-height: normal;
}

img {
  margin-top: 23px;
}

form {
  width: 750px;
  height: 1075px;
  margin-bottom: 392px;
  border-radius: 0px 0px 20px 20px;
  padding: 31px 64px 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
}

fieldset {
  border: none;
}

.col-2 {
  margin-bottom: 15px;
}


.input-your-mentor {
  margin-bottom: 31px;
}

.form-title {
  width: 750px;
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  color: #FFF;
  background: #F67669;
  font-size: 24px;
  line-height: 34px;
}

label {
  color: #4E4958;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 24px;
}

.input-wrapper input {
  height: 55px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
}

span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

legend {
  display: flex;
  justify-content: center;
  color: #253B51;
  font-size: 24px;
  line-height: 34px;
}

.subtitle-1 {
  margin: 31px auto 7px;
}

.subtitle-2 {
  margin: 36px auto 10px;
}

textarea {
  height: 166px;
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #E6E6F0;
  background: #FAFAFC;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.checkbox-input {
  margin-right: 8px;
}

.checkbox-label {
  margin-bottom: 0;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-2 > div:nth-child(1) {
  width: 50%;
}

.col-2 > div:nth-child(2) {
  width: 50%;
}

.col-3 {
  display: flex;
  gap: 32px;
}

.col-3 > div:nth-child(1) {
  width: 50%;
}

.col-3 > div:nth-child(2) {
  width: 50%;
}

.col-time {
  display: flex;
  gap: 10px;
}

.col-time > div:nth-child(1) {
  width: 50%;
}

.col-time > div:nth-child(2) {
  width: 50%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.line {
  width: 622px;
  height: 1px;
  margin-bottom: 31px;
  background: #E6E6F0;
}

footer {
  height: 51px;
  width: 622px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.button {
  background: #F67669;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 15px 40px;
  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url(/img/icon.png);
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}